# Secret Environment Variables
.env
*.env
.env.local
.env.*.local

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory/
.pytest_cache/

# Node & Frontend
node_modules/
dist-ssr/
*.local
.npm
.eslintcache

# IDE & OS
.DS_Store
.vscode/
.idea/
*.swp
*.swo
